.banner{
  width: 90%;
  margin-inline: auto;
}

.banner__container{
  padding-top: clamp(2rem, 1.5rem + 2vw, 4rem);
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1rem;
  place-items: center;
  grid-template-areas: 
    "con"
    "image";
}

.banner__img{
  grid-area: image;
}

.banner__img > img{
  display: block;
  width: 100%;
  filter: drop-shadow(15px 15px 15px var(--black-40));
}

.banner__content{
  grid-area: con;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.banner__content-header{
  font-size: 3rem;
  font-weight: 800;
  color: var(--navy);
}

.banner__content-text{
  max-width: 30rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--txt);
}

.banner__content-btn{
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--red);
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-bg);
  color: var(--white);
  box-shadow: 0 0 15px var(--black-40);
  transition: transform 0.3s ease;
}

.banner__content-btn:hover{
  transform: scale(1.1);
}

.popular__header,
.latest__header{
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular,
.latest{
  margin-bottom: 3rem;
  box-shadow: 0 0 15px var(--black-40);
  border-radius: var(--radius-bg);
  padding: 1rem 0.5rem;
}

.popular__header-text,
.latest__header-text{
  color: var(--navy);
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
  font-weight: 700;
  text-align: center;
}

.popular__header-text > i,
.latest__header-text > i{
  color: var(--red);
}

.popular__header-link,
.latest__header-link{
  display: none;
}

.popular__header-btn,
.latest__header-btn{
  display: block;
  background-color: var(--purple-0);
  padding: 0.5rem 1rem;
  border-radius: var(--radius-sm);
  border: none;
  outline: transparent;
  color: var(--white);
  box-shadow: 0 0 15px var(--black-20);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-block: auto;
}

.popular__header-btn:hover,
.latest__header-btn:hover{
  transform: scale(1.1);
  color: var(--yellow);
}

.popular__category{
  display: grid;
  gap: 1.5rem;
}

.popular__category-inner{
  border-radius: var(--radius-sm);
  color: var(--white);
  font-weight: 900;
  font-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-size: cover;
  position: relative;
  box-shadow: 5px 5px 10px var(--black-20);
  transition: transform 0.3s ease;
}

.popular__category-inner:hover{
  transform: translateY(-0.5rem);
}

.suv{
  background-image: 
  linear-gradient(0deg,var(--black-60),var(--black-60)),
  url(../images/img/suv/suv-4.jpg);
}

.bigsize{
  background-image: 
  linear-gradient(0deg,var(--black-60),var(--black-60)),
  url(../images/img/big-size/bigsize-4.jpg);
}

.sedan{
  background-image: 
  linear-gradient(0deg,var(--black-60),var(--black-60)),
  url(../images/img/sedan-sport/sedan-sport-1.jpg);
}

.offroad{
  background-image: 
  linear-gradient(0deg,var(--black-60),var(--black-60)),
  url(../images/img/off-road/offroad-3.jpg);
}

.popular__category-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.popular__category-img{
  width: 25%;
  height: 25%;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.popular__category-img > img{
  display: block;
  width: 100%;
}

.cart__container{
  display: grid;
  gap: 1rem;
  place-items: center;
}

@media screen and (min-width: 540px) {
  .popular__header,
  .latest__header{
    justify-content: space-between;
  }

  .popular__header-link,
  .latest__header-link{
    display: block;
  }

  .cart__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .banner__container{
    grid-template-areas: "image con";
    padding-inline: clamp(1rem, 1.5rem + 2vw, 4rem);
  }

  .popular__category{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 940px) {
  .banner__img{
    min-width: 25rem;
  }

  .cart__container{
    grid-template-columns: repeat(3, 1fr);
  }

  .banner__content{
    justify-self: self-start;
  }
}

@media screen and (min-width: 1200px) {
  .cart__container{
    grid-template-columns: repeat(4, 1fr);
  }

  .cart__item:nth-of-type(5),
  .cart__item:nth-of-type(6){
    display: none;
  }
}